Flask==0.10.1
Flask-Dance==0.2.3
Flask-SQLAlchemy==2.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.8
SQLAlchemy-Utils==0.27.0
URLObject==2.4.0
Werkzeug==0.9.6
gunicorn==19.1.1
itsdangerous==0.24
oauthlib==0.6.3
psycopg2==2.5.4
requests==2.4.3
requests-oauthlib==-e git+https://github.com/requests/requests-oauthlib.git@23fc41b#egg=requests_oauthlib
six==1.8.0
wsgiref==0.1.2
